body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 400px;
    width: 90%;
    border: 1px solid #ccc;
    margin-top: 20px;
    position: relative;
}

.bar {
    width: 5px;
    margin: 1px;
    background-color: #3498db;
}

.bar.sorted {
    background-color: #2ecc71;
}

.bar.comparing {
    background-color: #e74c3c;
}

.bar.swap {
    background-color: #f1c40f;
}

.bar.potential-swap {
    animation: blink 0.25s infinite alternate;
}

@keyframes blink {
    from {
        background-color: #ff5733;
    }

    to {
        background-color: #ffa07a;
    }
}

#stats {
    margin-top: 20px;
    text-align: center;
    display: flex;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
}

button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

#speedControls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#speedControls button {
    margin: 0 5px;
}
